<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css" media="screen and (min-width:801px)" type="text/css">
    <link rel="stylesheet" href="style_mobile.css" media="screen and (max-width:800px)" type="text/css">
    <title>Mineraltown Template</title>
</head>
<body>
<div class="body">
<div class="title">
    <h1>{{ title }}</h1>
    <p class="mobile_hide">{{ subheading }}</p>
</div>
<div class="main">
    <div class="menu">
        <div class="sub">{{ sub 1 }}</div>
        <div class="list">
           <div class="list_link"><a href="" class="list_link">{{ link 1 }}</a></div>
        </div>
        <div class="sub">{{ sub 2 }}</div>
        <div class="list">
            <div class="list_link"><a href="" class="list_link">{{ link 1 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 2 }}</a></div>
        </div>
        <div class="sub">{{ sub 3 }}</div>
        <div class="list">
            <div class="list_link"><a href="" class="list_link">{{ link 1 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 2 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 3 }}</a></div>
        </div>
        <div class="sub">{{ sub 4 }}</div>
        <div class="list">
            <div class="list_link"><a href="" class="list_link">{{ link 1 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 2 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 3 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 4 }}</a></div>
        </div>
        <div class="sub">{{ sub 5 }}</div>
        <div class="list">
            <div class="list_link"><a href="" class="list_link">{{ link 1 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 2 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 3 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 4 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 5 }}</a></div>
        </div>
        <div class="sub">{{ sub 6 }}</div>
        <div class="list">
            <div class="list_link"><a href="" class="list_link girl">{{ link 1 }}</a></div>
            <div class="list_link"><a href="" class="list_link girl">{{ link 2 }}</a></div>
            <div class="list_link"><a href="" class="list_link girl">{{ link 3 }}</a></div>
            <div class="list_link"><a href="" class="list_link boy">{{ link 4 }}</a></div>
            <div class="list_link"><a href="" class="list_link boy">{{ link 5 }}</a></div>
            <div class="list_link"><a href="" class="list_link boy">{{ link 6 }}</a></div>
        </div>
        <div class="sub">{{ sub 7 }}</div>
        <div class="list">
            <div class="list_link"><a href="" class="list_link">{{ link 1 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 2 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 3 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 4 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 5 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 6 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 7 }}</a></div>
        </div>
        <div class="sub">{{ sub 8 }}</div>
        <div class="list">
            <div class="list_link"><a href="" class="list_link">{{ link 1 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 2 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 3 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 4 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 5 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 6 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 7 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 8 }}</a></div>
        </div>
        <div class="sub">{{ sub 9 }}</div>
        <div class="list">
            <div class="list_link"><a href="" class="list_link">{{ link 1 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 2 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 3 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 4 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 5 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 6 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 7 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 8 }}</a></div>
            <div class="list_link"><a href="" class="list_link">{{ link 9 }}</a></div>
        </div>
    </div>
    <div class="frame">
        <iframe src="default.html" name="home" frameborder="0"></iframe>
    </div>
    <div class="menu_mobile">
        <a href="pasture.html" target="home" class="sub">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zm-6-2h5V9.157l-6-5.454-6 5.454V19h5v-6h2v6z" fill="#666"/></svg>
            <p class="list_link">pasture</p>
        </a>
        <a href="resident.html" target="home" class="sub">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M7 9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 2a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9zm10.5 2a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm2.5 6v-.5a2.5 2.5 0 1 0-5 0v.5h-2v-.5a4.5 4.5 0 1 1 9 0v.5h-2zm-10 0v-4a3 3 0 0 0-6 0v4H2v-4a5 5 0 0 1 10 0v4h-2z" fill="#666"/></svg>
            <p class="list_link">resident</p>
        </a>
        <a href="pasture.html" target="home" class="sub">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M21 21H3a1 1 0 0 1-1-1v-7.513a1 1 0 0 1 .343-.754L6 8.544V4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1zM9 19h3v-6.058L8 9.454l-4 3.488V19h3v-4h2v4zm5 0h6V5H8v2.127c.234 0 .469.082.657.247l5 4.359a1 1 0 0 1 .343.754V19zm2-8h2v2h-2v-2zm0 4h2v2h-2v-2zm0-8h2v2h-2V7zm-4 0h2v2h-2V7z" fill="#666"/></svg>
            <p class="list_link">town</p>
        </a>
        <a href="resident.html" target="home" class="sub">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M14.268 12.146l-.854.854 7.071 7.071-1.414 1.414L12 14.415l-7.071 7.07-1.414-1.414 9.339-9.339c-.588-1.457.02-3.555 1.62-5.157 1.953-1.952 4.644-2.427 6.011-1.06s.892 4.058-1.06 6.01c-1.602 1.602-3.7 2.21-5.157 1.621zM4.222 3.808l6.717 6.717-2.828 2.829-3.89-3.89a4 4 0 0 1 0-5.656zM18.01 9.11c1.258-1.257 1.517-2.726 1.061-3.182-.456-.456-1.925-.197-3.182 1.06-1.257 1.258-1.516 2.727-1.06 3.183.455.455 1.924.196 3.181-1.061z" fill="#666"/></svg>
            <p class="list_link">cooking</p>
        </a>
        <a href="pasture.html" target="home" class="sub">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 3h8v8H3V3zm0 10h8v8H3v-8zM13 3h8v8h-8V3zm0 10h8v8h-8v-8zm2-8v4h4V5h-4zm0 10v4h4v-4h-4zM5 5v4h4V5H5zm0 10v4h4v-4H5z" fill="#666"/></svg>
            <p class="list_link">other</p>
        </a>
    </div>
</div>
</div>
</body>
</html>
