<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="mobile.css">
    <title>pasture</title>
</head>
<body>
    <a href="" class="link"><div class="sub_link">{{ link 1 }}</div></a>
    <a href="" class="link"><div class="sub_link">{{ link 2 }}</div></a>
    <a href="" class="link"><div class="sub_link">{{ link 3 }}</div></a>
    <a href="" class="link"><div class="sub_link">{{ link 4 }}</div></a>
    <a href="" class="link"><div class="sub_link">{{ link 5 }}</div></a>
</body>
</html>
