<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="mobile.css">
    <title>resident</title>
</head>
<body>
    <div class="resident">
        <div class="sub_title">{{ sub title }}</div>
        <a href="" class="link"><div class="sub_link">{{ link 1 }}</div></a>
        <a href="" class="link2"><div class="sub_link">{{ link 2 }}</div></a>
    </div>
    <div class="resident">
        <div class="sub_title">{{ sub title }}</div>
        <div class="sub">
            <a href=""><div class="sub_link2">{{ link 1 }}</div></a>
            <a href=""><div class="sub_link2">{{ link 2 }}</div></a>
            <a href=""><div class="sub_link2">{{ link 3 }}</div></a>
            <a href=""><div class="sub_link2">{{ link 4 }}</div></a>
            <a href=""><div class="sub_link2">{{ link 5 }}</div></a>
        </div>
    </div>
    <div class="resident">
        <div class="sub_title">{{ sub title }}</div>
        <div class="sub">
            <a href=""><div class="sub_link2">{{ link 1 }}</div></a>
            <a href=""><div class="sub_link2">{{ link 2 }}</div></a>
            <a href=""><div class="sub_link2">{{ link 3 }}</div></a>
            <a href=""><div class="sub_link2">{{ link 4 }}</div></a>
            <a href=""><div class="sub_link2">{{ link 5 }}</div></a>
        </div>
    </div>
</body>
</html>
