@charset "utf-8";
/* CSS Document */

/* My Fonts */
@font-face {
	/* 思源黑体 CN ExtraLight */
	font-family: 'SourceSansEL';
	font-display: swap;
	src: url('//at.alicdn.com/t/webfont_wy2uv17hq9a.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/webfont_wy2uv17hq9a.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('//at.alicdn.com/t/webfont_wy2uv17hq9a.woff2') format('woff2'),
	url('//at.alicdn.com/t/webfont_wy2uv17hq9a.woff') format('woff'), /* chrome、firefox */
	url('//at.alicdn.com/t/webfont_wy2uv17hq9a.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('//at.alicdn.com/t/webfont_wy2uv17hq9a.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
}
@font-face {
	/* 阿里巴巴普惠体-Regular */
	font-family: 'alibaba';
	font-display: swap;
	src: url('//at.alicdn.com/t/webfont_6g7wl6m5dpt.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/webfont_6g7wl6m5dpt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('//at.alicdn.com/t/webfont_6g7wl6m5dpt.woff2') format('woff2'),
	url('//at.alicdn.com/t/webfont_6g7wl6m5dpt.woff') format('woff'), /* chrome、firefox */
	url('//at.alicdn.com/t/webfont_6g7wl6m5dpt.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('//at.alicdn.com/t/webfont_6g7wl6m5dpt.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}
@font-face {
	/* 杨任东竹石体-Bold */
	font-family: 'yrdzst';
	font-display: swap;
	src: url('//at.alicdn.com/t/webfont_s59sk64no9d.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/webfont_s59sk64no9d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('//at.alicdn.com/t/webfont_s59sk64no9d.woff2') format('woff2'),
	url('//at.alicdn.com/t/webfont_s59sk64no9d.woff') format('woff'), /* chrome、firefox */
	url('//at.alicdn.com/t/webfont_s59sk64no9d.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('//at.alicdn.com/t/webfont_s59sk64no9d.svg#杨任东竹石体-Bold') format('svg'); /* iOS 4.1- */
}
/* Global */
html,body {
	width: 100%;
	min-width: 1024px;
	height: auto;
    margin: 0;
    padding: 0;
	font-family: 'SourceSansEL', sans-serif;
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
	color: #666;
	background-color: #6fc7e1;
}
p {
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
}
a {
	color: #666;
	text-decoration:none;
	transition: color 0.25s;
	-moz-transition: color 0.25s;	/* Firefox 4 */
	-webkit-transition: color 0.25s;	/* Safari 和 Chrome */
	-o-transition: color 0.25s;	/* Opera */	
}
a:hover {
	color: #ffa883;
}
img {
    width: 100%;
    height: auto;
}
/* Alone Class */
.title {
	width: 100%;
	height: 8em;
	display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
	background-color: #FFFFFF;
}
.name {
	text-align: center;
	font-family: 'alibaba';
	font-size: 3em;
}

.mainview {
	width: 100%;
	height: 30em;
	background-image: url(./main_screen03.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.view {
	color: #FFFFFF;
	text-align: center;
	text-shadow: 2px 2px 3px #666666;
	font-size: 2.5em;
	font-family: 'yrdzst';
}
.ksz {
	color: #FFFFFF;
	font-size: 1.5em;
	transition: color 0.5s;
	-moz-transition: color 0.5s;	/* Firefox 4 */
	-webkit-transition: color 0.5s;	/* Safari 和 Chrome */
	-o-transition: color 0.5s;	/* Opera */
}
.ksz:hover {
	color: #61c96f;
	font-size: 1.5em;
}
.maintext {
	width: 100%;
	height: 17em;
	background-color: #faf2e8;
	display: flex;
	flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.maintext_L {
	width: 30em;
	height: auto;
	display: flex;
	flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.maintext_R {
	width: 25em;
	height: auto;
	display: flex;
	flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.maintext_table {
	width: 20em;
	padding-top: 1.5em;
	text-align: left;
	font-family: 'alibaba';
}
.maintext_caption {
	height: 3em;
	line-height: 3em;
	font-size: 1.2em;
	border-bottom: solid 1px #666666;
}
.contact {
	margin-top: 1.5em;
	width: 30em;
	height: auto;
	display: flex;
	flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.contact_p {
	margin-top: 1em;
	font-size: 1.2em;
}
.contact_img {
	width: 128px;
}
.text {
	width: 100%;
	height: 17em;
	background-color: #fde3c8;
	display: flex;
	flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.text_template {
	font-family: 'alibaba';
	font-size: 1.3em;
}
.text_download {
	margin-top: 2em;
	width: 7em;
	height: 3em;
	text-align: center;
	line-height: 3em;
	color: #ffffff;
	background-color: #ffa883;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;	/* Firefox 4 */
	-webkit-transition: background-color 0.5s;	/* Safari 和 Chrome */
	-o-transition: background-color 0.5s;	/* Opera */

}
.text_download:hover {
	color: #ffffff;
	background-color: #fc763d;

}
.code {
	width: 100%;
	height: 5px;
	background-color: #ffa883;

}
.information {
	width: 100%;
	height: 5em;
	text-align: center;
	background-color: #6fc7e1;
	color: #faf2e8;
	display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
