@charset "utf-8";

/* Global */
html,body {
	width: 100%;
	min-width: 1024px;
	height: 100%;
    margin: 0;
	padding: 0;
	color: #666;
	font-family: 'Microsoft YaHei',sans-serif;
}
.body {
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
p {
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
}
a {
	color: #666;
	text-decoration:none;
	transition: color 0.25s;
	-moz-transition: color 0.25s;	/* Firefox 4 */
	-webkit-transition: color 0.25s;	/* Safari 和 Chrome */
	-o-transition: color 0.25s;	/* Opera */	
}
a:hover {
	color: #ffa883;
}
/* Alone Class */
.title {
	width: 100%;
	height: 8em;
	display: flex;
	display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
	background-color: #FFFFFF;
}
.name {
	text-align: center;
	font-size: 2.5em;
}

.mainview {
	flex-grow:1;
	width: 100%;
	height: auto;
	min-height: 30em;
	background-image: url(./sheep.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.maintext {
	width: 100%;
	height: auto;
	min-height: 17em;
	background-color: #faf2e8;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.maintext_L {
	width: 30em;
	height: auto;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.maintext_R {
	width: 25em;
	height: auto;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.maintext_table {
	width: 20em;
	padding-top: 1.5em;
	text-align: left;
}
.maintext_caption {
	height: 3em;
	line-height: 3em;
	font-size: 1.2em;
	border-bottom: solid 1px #666;
}
.contact {
	margin-top: 1.5em;
	width: 30em;
	height: auto;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.contact_p {
	margin-top: 1em;
	font-size: 1em;
}
.contact_img {
	width: 96px;
}
.text {
	width: 100%;
	height: auto;
	min-height: 17em;
	background-color: #fde3c8;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.text_template {
	font-size: 1.3em;
}
.text_demo {
	margin-top: 2em;
	width: 7em;
	height: 3em;
	text-align: center;
	line-height: 3em;
	color: #ffffff;
	background-color: #ffa883;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;	/* Firefox 4 */
	-webkit-transition: background-color 0.5s;	/* Safari 和 Chrome */
	-o-transition: background-color 0.5s;	/* Opera */

}
.text_demo:hover {
	color: #ffffff;
	background-color: #fc763d;

}
.information {
	width: 100%;
	height: 3.5em;
	line-height: 3.5em;
	text-align: center;
	color: #faf2e8;
	background-color: #6fc7e1;
}
