@charset "utf-8";

/* Global */
html,body {
	width: 100%;
	height: 100%;
    margin: 0;
	padding: 0;
	color: #777777;
	font-family: 'Microsoft YaHei',sans-serif;
}
p {
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
}
a {
	color: #666666;
	text-decoration:none;
	transition: color 0.25s;
	-moz-transition: color 0.25s;	/* Firefox 4 */
	-webkit-transition: color 0.25s;	/* Safari 和 Chrome */
	-o-transition: color 0.25s;	/* Opera */	
}
img {
    width: 100%;
    height: auto;
}

/* Alone Class */
.body {
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.title {
	width: 100%;
	height: auto;
	min-height: 5em;
	background-color: #ffffff;
	display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
h1 {
	padding: 0;
	margin: 0;
	text-align: center;
}
.mainview {
	flex-grow:1;
	width: 100%;
	height: auto;
	min-height: 10em;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
	background-color: #fff;	
	background-image: url(sheep.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.view {
	width: 90%;
}
.maintext {
	width: 100%;
	height: auto;
	min-height: 26em;
	background-color: #faf2e8;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.maintext_L {
	width: 100%;
	max-width: 450px;
	height: auto;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
	margin-top: -1em;
}
.maintext_table {
	width: 80%;
	padding-top: 2em;
	text-align: left;
}
.maintext_caption {
	height: 3em;
	line-height: 3em;
	font-size: 1.2em;
	background-color: #e4b882;
}
.wiki {
	color: #fff;
}
.maintext_R {
	width: 100%;
	max-width: 450px;
	height: auto;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.contact {
	width: 45%;
	margin-top: 2em;
	height: auto;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.contact_p {
	margin-top: 1em;
}
.contact_img {
	width: 96px;
}
.text {
	width: 100%;
	height: auto;
	min-height: 13em;
	background-color: #fde3c8;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.text_template {
	font-size: 1.3em;
}
.text_demo {
	margin-top: 2em;
	width: 7em;
	height: 3em;
	text-align: center;
	line-height: 3em;
	color: #ffffff;
	background-color: #ffa883;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;	/* Firefox 4 */
	-webkit-transition: background-color 0.5s;	/* Safari 和 Chrome */
	-o-transition: background-color 0.5s;	/* Opera */

}
.code {
	width: 100%;
	height: 2px;
	background-color: #ffa883;
}
.information {
	width: 100%;
	height: 3em;
	line-height: 3em;
	text-align: center;
	background-color: #6fc7e1;
	color: #faf2e8;
}
